<div class="four wide column">
    {{ render(controller('wemea_sylius_menu.controller.render_menu::renderAction', {
        'code': 'homepage_footer_menu',
        'template': '@SyliusShop/Menu/footerMenu.html.twig'
    })) }}
</div>
